<tr>
		<td><%= animal.id %></td>
		<td><%= animal.animals_type %></td>
		<td><%= link_to(animal.breed, admin_animal_path(id: animal.id)) %></td>
		<td><%= link_to('Редактировать', edit_admin_animal_path(id: animal.id) ) %></td>
		<td><%= link_to('Удалить', admin_animal_path(id: animal.id), method: :delete ) %></td>
</tr>