<%= form_for [:admin, @animal]  do |form| %>

  <table>
  <tr>
  <td><%= form.label :animals_type, 'Вид' %></td>
  <td><%= form.text_field :animals_type %></td>
  </tr>

  <tr>
  <td><%= form.label :breed, 'Порода' %></td>
  <td><%= form.text_field :breed %></td>
  </tr>
  
  <!--
  <tr>
  <td> <%= form.label :price, 'Цена, грн' %> </td>
  <td> <%= form.number_field :age %> </td>
  </tr>

  <tr>
  <td> <%= form.label :age, 'Возраст, полных лет' %> </td>
  <td> <%= form.number_field :age %> </td>
  </tr>

  <tr>
  <td> <%= form.label :weight, 'Вес, кг' %> </td>
  <td> <%= form.number_field :weight %> </td>
  </tr>

  <tr>
  <td> <%= form.label :height, 'Рост, см' %> </td>
  <td> <%= form.number_field :height %> </td>
  </tr>
  -->

  <tr>
  <td> <%= form.label :note, 'Подробное описание' %> </td>
  <td> <%= form.text_area :note %> </td>
  </tr>

  <tr>
  <%= image_tag(@animal.animal_picture) if @animal.animal_picture? %>
  <%= form.file_field :animal_picture %>
  <%= form.hidden_field :animal_picture_cache %>
  </tr>


  <tr>
  <td> <%= form.submit 'Сохранить' %></td>
  <td> </td>
  </tr>

  </table>
<%- end %>
