<h1>Справочник животных</h1>
<p></p>
<p> количество типов животных в базе <%= @animals_count  %></p>
<p></p>
<%= link_to('Добавить объявление', new_animal_path)  %>
<p></p>
<table>
	<%- @animals.each do |animals| %>


	<tr>
	  <td><%= image_tag(animals.animal_picture) if animals.animal_picture? %></td>
	  <td><%= animals.breed %></td>
	  <td><%= animals.animals_type %></td>
	  <td><%= animals.note %></td>
	  <td><%= link_to('Просмотреть', admin_animal_path(id: animals.id)) %></td>
	  <% if can? :manage, Animal %>
	    <td><%= link_to('Редактировать', edit_animal_path(id: animals.id) ) %></td>
	    <td><%= link_to('Удалить',animal_path(id: animals.id), method: :delete ) %></td>
	   <%-end %>
	</tr>

	<%- end %>
</table>

