<table>
	<tr>
	  <td colspan="1">Шаповалов Евгений Андреевич</td>
	  	
	</tr>
	<tr>
	  <td rowspan="4"><%=image_tag("avatar.jpg")  %></td>
	  <td><%=link_to "Обо мне", "#" %></td>	
	</tr>
	<tr>
	  
	  <td><%=link_to "Мои работы", "#" %></td>	
	</tr>
	<tr>
	  
	  <td><%=link_to "Сделать заказ", "#" %></td>	
	</tr>
	<tr>
	  
	  <td><%=link_to "Контакты", "#" %></td>	
	</tr>


</table>