<table>
	<tr>
	  <td colspan="1" >Шаповалов Евгений Андреевич</td>
	  	
	</tr>
	<tr>
	  <td><%=image_tag("avatar.jpg")  %></td>
	  <td id = "menu">
	  <div>
	  <p><%=link_to "Обо мне", "#" %></p>
	  <p><%=link_to "Мои работы", "#" %></p>	
	  <p><%=link_to "Сделать заказ", "#" %></p>
	  <p><%=link_to "Контакты", "#" %></p>	
	  </div>	
	  </td>	
	</tr>
</table>